.heading {
    background-color: rgba(228, 146, 146, 0.733);
    color:  rgb(238, 238, 238);
    padding: 50px;
    font-size: 60px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 5px;
}
.container {
    padding: 0;
}

#instructions {
    background-color: rgba(159, 216, 197, 0.733);
    color: rgb(43, 43, 110);
    text-align: center;
    padding: 15px;
    line-height: 30px;
    font-weight: bold;
    border-radius: 25px;
}

#numbertarget {
    background-color: rgba(138, 243, 138, 0.733);
    color: rgb(60, 60, 138);
    border-radius: 25px;
    padding: 15px;
    height: 75%;
    margin-bottom: 0;
    text-align: center;
}

#number-to-guess{
    color: rgb(60, 60, 138);
    font-size: 90px;
    text-align: center;
    padding-top: 80px;

}

#wincounter {
    background-color: rgb(228, 178, 228, 0.733);
    color: rgb(60, 60, 138);
    padding: 15px;
    border-radius: 25px;
    height: 25%;
    text-align: center;
}

.countertext {
    text-align: center;
}

img {
    height: 105px;
    width: 105px;
}

.btn {
    padding: 0;
    border-radius: 25px;
}

#crystalrow {
    border-radius: 25px;
    padding: 15px;
    height: 25%;
    align-content: top;
}

#scorecard{
    background-color: rgb(253, 253, 135, 0.733);
    padding: 15px;
    border-radius: 25px;
    height: 75%;
    text-align: center;
}

#scoretext{
    padding-top: 90px;
    font-size: 50px;
    text-align: center;
}

body {
    background-image: url("../images/congruent_pentagon.png");
    font-family: 'Times New Roman', Times, serif;
}

